body{
   background-color: rgb(255, 255, 255);
}
/*
#container{
    display: flex;
}

#DadosDa1e2{
    order: 1;
}

#TelaJogo{
    order: 2;
}
*/
#canvas{
    width:900px;
    height: 800px;
}

#canvas {
    display: flex;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}


#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*
#DadosDa3{
    order: 3;
}*/
